.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  direction: rtl;
  background-color: black;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  z-index: 3;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  direction: rtl;
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center;
  justify-content: space-between;
  color: white;
  border-bottom: 8px solid #00aa9d;
  z-index: 3;

}


.my-img {
  background-image: url('../images/logoo.jpg');
  border-radius: 50%;
  background-size: 100%;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  height: 75px;
  width: 75px;
  margin-right: 25px;
}

a {
  color: black;
  text-decoration: none;
}

.App-header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 0 10px;
}

.App-header a:focus {
  color: #00aa9d;

}

.my-space {
  width: 125px;
}

.roles {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  /* align-items: stretch */
  align-items: center
}

.my-div {
  display: flex;
}

.background-img {
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 90vh;
  margin-bottom: -150px;


}

.roless {
  direction: rtl;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

h2 {
  color: #00aa9d;
}

.text {
  font-weight: bold;
  padding: 90px;
}

.background-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
  margin-bottom: -50px;
  background-image: url('../images/home.jpg');
}

.my-form {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 45%;
  margin: auto;
  margin-bottom: 15px;


}

.add {
  height: 100%;
  margin-top: -20px;
  padding-bottom: 20px;
}

.homePage {
  display: flex;
  flex-wrap: wrap;
  align-content: center
}
.popup{
  padding: 100px;
}
p{
  /* display: flex; */
  text-align: left;
}